@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
    border: none;
    min-height: 0;
    padding: 0;
    margin: 0;
    font-family: JetBrainsMono;
}

#waybar {
    border-radius: 16pt;
    font-size: 10pt;
}


#clock,
#custom-power,
#pulseaudio,
#memory,
#cpu,
#idle_inhibitor {
    padding-right: 8pt;
    padding-left: 8pt;
}


#clock.date {
    background: @nord13;
    color: @nord0;
    padding-left: 16pt;
    border-top-left-radius: 16pt;
    border-bottom-left-radius: 16pt;
}

#custom-ball1 {
    color: @nord13;
    background: @nord12;
    font-size: 13pt;

}

#clock.time {
    background: @nord12;
    color: @nord0;
}

#custom-ball2 {
    color: @nord12;
    font-size: 13pt;
}

#window {
    padding-left: 32pt;
    padding-right: 128pt;
}

#custom-ball3 {
    color: @nord3;
    font-size: 13pt;
}

#workspaces {
    background: @nord3;
    font-weight: bold;
}

#workspaces button {
    padding-right: 2pt;
    padding-left: 2pt;
    color: @nord10;
}

#workspaces button.visible {
    color: @nord7;
}

#workspaces button.focused  {
    color: @nord8;
}

#workspaces button.urgent {
    color: @nord11;
}

#custom-ball4 {
    color: @nord3;
    font-size: 13pt;
}

#custom-ball5 {
    color: @nord14;
    font-size: 13pt;
}

#idle_inhibitor {
    color: @nord0;
    background: @nord14;
}

#custom-ball6 {
    color: @nord15;
    background: @nord14;
    font-size: 13pt;
}

#cpu {
    background: @nord15;
    color: @nord0;
}

#custom-ball7 {
    color: @nord11;
    background: @nord15;
    font-size: 13pt;
}

#memory {
    background: @nord11;
    color: @nord0;
}

#custom-ball8 {
    color: @nord12;
    background: @nord11;
    font-size: 13pt;
}

#pulseaudio {
    background: @nord12;
    color: @nord0;
}

#custom-ball9 {
    color: @nord13;
    font-size: 13pt;
    background: @nord12;
}

#custom-power {
    background: @nord13;
    color: @nord0;
    border-top-right-radius: 8pt;
    border-bottom-right-radius: 8pt;
    padding-right: 16pt;
}
